body {
    background-color: lightgreen;
}

.ads {
    display: none;
}

.course {
    width: 100%;
}

.flex {
    flex-direction: column;
    align-items: unset !important;
}

ul.menu:first-child > li {
    border-left: none;
}

header img {
    max-width: 100%;
}